.CartTwo_main{
   
    /*background-color: green;*/
    width: 50%;
    height: 100%;
    padding: 10px;
    
}
.CartTwo_main .Paragragh h6{
    margin-top: 90px;
    text-align: left;
    color: hsl(219, 9%, 45%);
    font-size: 15px;

}

.CartTwo_main .Paragragh h1 {
    
     text-align: left;

}
.CartTwo_main .Paragragh p{
    text-align: left;
    color: hsl(219, 9%, 45%);
}

.CartTwo_main .Price{
    display: flex;
    align-items: center;
    gap: 10px;
}
.CartTwo_main .Price h2{
    text-align: left;

}

.CartTwo_main .Price div{
    background-color: black;
    color: white;
    width: 40px;
    height: 20px;
    border-radius: 5px;
    font-size: 15px;

}
.CartTwo_main .old_price{
  text-decoration: line-through;
  color: hsl(220, 14%, 75%);
  font-size: 16px;
  text-align: left;
}

.CartTwo_main .buttons {
    margin-top: 20px;
    height: 1px;
    padding: 30px;
    display: flex;
    gap: 50px;
    align-items: center;
}

.CartTwo_main .buttons .three_buttons{
    
    width: 120px;
    height: 40px;
    
}

.CartTwo_main .buttons .three_buttons button{
      width: 33.33%;
      height: 100%;
      background-color: hsl(223, 64%, 98%);
      border: black 10px;   
      cursor: pointer; 
}
.CartTwo_main .buttons .three_buttons .plus{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

}
.CartTwo_main .buttons .three_buttons .minus{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.CartTwo_main .buttons .add_cart_btn{
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 30px;
    border-radius:10px ;
    border: none;
    padding: 10px 20px;
    background-color: hsl(26, 100%, 55%);
     cursor: pointer;

}
.CartTwo_main .buttons .add_cart_btn:hover{
    background-color: hsl(26, 100%, 60%)

}