.main_class{
   
   /*background-color: black;*/
    width: 45%;
    height: 95%;
    padding: 20px;
    gap: 50px;

}
.main_class .big_img{
 
  width: 100%;
  height: 80%;
  
  
}
.main_class .big_img img{
  width: 100%;
  height: 100%; 
  border-radius: 15px;
}

.main_class .small_imgs{
  display: flex;
  justify-content: space-between;
  
  width: 95%;
  height: 15%;
  margin: 10px;
  padding: 5px;
  gap: 10px;


}
.main_class .small_imgs button{
  border-radius: 15px;
  width: 23%;
  border: 1px solid transparent; 
  background: none;
  cursor: pointer;

}
.main_class .small_imgs button:active{
   border-color: orange;    
}
 
.main_class .small_imgs button img{
  width: 100%;
  height: 100%;
  border-radius: 15px;
   
   
}

