
.parant{
  color: green;
  margin: 10px;
}
.main_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 15px;
    color: red;
    
}
a{
    color:  hsl(219, 9%, 45%);
    padding: 10px;
    margin: 0px 20px;
    font-size: small;
    text-decoration: none;
    font-family: Kumbh Sans;
    font-weight: 100;
}
.sneakers{
    color: hsl(220, 13%, 13%);
    font-size: 35px;
    font-weight: bold;
    font-family: Kumbh Sans;
}
hr {
  border: none;
  height: 1px;
  background-color: hsl(223, 64%, 98%);
  margin: 5px 0;
}